<app-navbar></app-navbar>

<h1 id="tableLabel">List of Countries</h1>

<p *ngIf="loading$ | async"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="countries$ | async as countries">
  <thead>
    <tr>
      <th>Id</th>
      <th>Country Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <td>{{ country.id }}</td>
      <td>{{ country.name }}</td>
    </tr>
  </tbody>
</table>
